:host {
    display: flex;
    height: 100vh;
}

article {
    flex-grow: 1;
    height: 100%;
    overflow: hidden;
}

@media screen and (max-width: 560px){
    :host {
        // flex-direction: column-reverse;
        display: block;
    }

    article {
        height: auto;

        &.navpadding {
            padding-bottom: 64px;
        }
    }
}