@import "~src/variables.scss";

$default-bg: #2D2D2D;
$active-bg: #202020;

:host {
    display: block;
    height: 100vh;
    overflow-y: scroll;
}

main {
    margin: 52px 70px;
}

.results-amount {
    margin: 0;
    color: rgba(0,0,0,0.5);
    font-size: 16px;
    font-weight: 400;
}

.filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 32px 0;
}

.toggles {
    color: #AAA;
    font-size: 24px;

    i {
        margin: 0 8px;
        cursor: pointer;
    }

    & .active {
        color: $primary-color;
    }
}

.module-badge {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background: #c76218;
    padding: 3px 6px;
    border-radius: 3px;
    font-size: 12px;
    right: -5px;
    bottom: 12px;

    & > *:first-child {
        margin-right: 5px;
    }
}

.featured {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    margin-top: 68px;

    .card {
        background: $default-bg;
        border-radius: 14px;
        width: 100%;
        padding: 36px;
        box-sizing: border-box;

        &.active {
            background: $active-bg;
        }

        header {
            display: flex;
            justify-content: space-between;

            .metadata {
                margin-left: 36px;
    
                .detail {
                    margin-bottom: 16px;
                }
            }
        }
    }

    .info {
        margin-top: 32px;

        h1, h2, p {
            margin: 0;
        } 

        h2 {
            color: $primary-color;
            font-size: 14px;
            font-weight: 300;
        }

        h1 {
            color: #FFF;
            font-size: 30px;
            font-weight: 700;
            line-height: 1.2;
        }

        p {
            color: #666666;
            font-size: 12px;
            text-transform: uppercase;
            margin-top: 3px;
        }
    }

    .banner {
        width: 75% !important;
        margin-top: -68px;
    }
}

.results {
    margin-top: 24px;
    display: flex;
    align-items: flex-start;
}

.courses {
    flex-grow: 1;
    margin-right: 24px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(40vw, 1fr));
    gap: 0 3vw;

    atz-lesson-card {
        width: 140px;
        margin-top: -32px;
        margin-left: 8px;
    }

    li {
        background: $default-bg;
        padding: 16px;
        margin-bottom: 24px;
        border-radius: 8px;
        display: flex;
        align-items: center;
        position: relative;

        .data {
            margin-left: 24px;
            flex-grow: 1;
        }

        .meta {
            margin: 0;
            font-size: 12px;
            color: $primary-color;
        }

        .name {
            margin: 0;
            font-size: 20px;
            line-height: 1.2;
            color: #FFF;
            max-width: 75%;
        }

        .badges {
            align-self: flex-end;
        }
    }

    .active {
        background: $active-bg;
    }
}

.books {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
    gap: 24px;
    flex-grow: 1;
    min-width: 444px;

    li {
        background: $default-bg;
        border-radius: 11px;
        padding: 16px 20px;
        margin-top: 36px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        > div {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 16px;
        }

        &.active {
            background: $active-bg;
        }
    }

    img {
        width: 160px;
        height: 220px;
        border-radius: 6px;
        box-shadow: 1px 1px 5px rgba($color: #000, $alpha: 0.1);
        margin-top: -52px;
        display: inline-block;
        text-align: right;
    }
}


@media screen and (max-width: 620px){
    main {
        margin: 5vw 8vw;
    }

    .filters {
        flex-direction: column;
        align-items: flex-end;
        margin: 6vw 0;
    }

    .toggles {
        margin-top: 16px;
    }

    .featured {
        grid-template-columns: 1fr;
        gap: 12vw;

        .banner {
            width: 100% !important;
            margin-top: -14vw;
        }

        .card {
            padding: 8vw;

            header {
                flex-direction: column;

                .metadata {
                    margin: 0;
                    display: flex;
                    margin-top: 16px;

                    > * {
                        margin-right: 20px;
                    }
                }
            }
        }

        .info {
            margin-top: 3vw;

            h1 {
                font-size: 7vw;
            }
        }
    }

    .results {
        flex-direction: column;
    }

    .courses {
        margin-right: 0;

        li {
            flex-direction: column;
            align-items: flex-start;
            padding: 5vw 5.5vw;

            .data {
                margin: 8px 0 0;
            }

            .name {
                font-size: 4.5vw;
                max-width: unset;
            }

            .badges {
                margin-top: 8px;
                align-self: flex-start;

                &:empty {
                    display: none;
                }
            }
        }

        atz-lesson-card {
            width: 100% !important;
            margin-left: 0;
        }
    }

    .books {
        min-width: unset;

        li {
            flex-direction: row;

            & > div {
                flex-direction: column;

                & > * {
                    margin-top: 16px;
                }
            }
        }
    }
}