@import '~src/app/content/lesson/lesson.component.scss';



.book {
    .wrapper {
        max-width: 1200px;
    }

    .subtitle {
        font-size: 16px;
        font-weight: 300;
        color: #BBB;
        margin: 0;
    }

    .info .name {
        margin: 0;
    }

    .badges {
        margin-top: 14px;
    }
}

.cover {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        height: auto;
        max-height: 560px;
        box-shadow: -2px -2px 40px rgba($color: #000000, $alpha: 0.6);
        
    }

    .small {
        width: 35%;
        margin-right: -40px;
        border-radius: 4px;
        margin-top: 50px;
    }

    .large {
        max-width: 70%;
        border-radius: 6px;
        margin-bottom: -16vh;
    }
}

.read {
    display: flex;
    padding: 15vh 5vw;
    color: #CCCCCC;

    section {
        display: block;
    }

    .info {
        width: 30%;
        margin-right: 5vw;
        padding: unset;
        transition: 400ms all ease-in-out;

        &.hidden {
            width: 0;
            height: 0;
            margin-right: 0;
            overflow: hidden;
        }

        p {
            margin: 0;
            font-size: 15px;
            font-weight: 200;
            line-height: 1.6;
            margin-bottom: 26px;

            &.label {
                font-size: 20px;
            }
        }

        h3 {
            color: $primary-color;
            margin-bottom: 0;
            font-size: 10px;
        }
    }

    .book-reader {
        flex-grow: 1;
        background: #BBB;
        border-radius: 5px;
        height: 90vh;
        position: sticky;
        top: 5vh;

        button {
            position: absolute;
            background: rgba(0, 0, 0, 0.3);
            color: #FFF;
            z-index: 10;
            bottom: 14px;
            right: 14px;

            & > * {
                margin: 0;
            }
        }

        object {
            width: 100%;
            height: 100%;
            border: 0;
            border-radius: 5px;
        }
    }
}

.mobile {
    display: none;
}

@media screen and (max-width: 460px){
    .mobile {
        display: flex;
    }

    .book {
        padding: 0;
        overflow: hidden;
        flex-direction: column-reverse;

        .info {
            max-width: unset;
            padding: 12vw 10vw;
            margin: 0;

            .logo {
                display: none;
            }

            .data {
                margin: 0;
            }

            .track {
                margin-top: 24px;
            }

            .about-track {
                margin: 0;
                flex-wrap: wrap;

                .detail {
                    margin-bottom: 16px;
                }
            }

            .track-actions {
                display: none;
            }
        }

        .wrapper {
            flex-direction: column-reverse;
        }

        .subtitle {
            line-height: 1.4;
            margin-top: 3px;
        }
    }

    .cover {
        width: 100%;
        height: 280px;
        display: block;
        position: relative;

        .small {
            width: 110%;
            height: 110%;
            margin: 0 -5%;
            object-fit: cover;
            object-position: center;
            box-shadow: unset;
            opacity: 0.8;
            clip-path: inset(0 0 10% 0);
            filter: blur(10px);
        }

        .large {
            position: absolute;
            bottom: 0;
            left: 10vw;
            max-height: 90%;
            max-width: unset;
            margin-bottom: -20px;
        }

        .btn {
            position: absolute;
            right: 36px;
            bottom: -20px;
            padding: 17px;
            border-radius: 50%;
            font-size: 18px;

            &.unique > * {
                margin: 0
            }
        }

        .markit {
            position: absolute;
            bottom: 46px;
            right: 46px;
            background: rgba(0, 0, 0, 0.4);
            color: #FFF;
            padding: 8px;
            display: flex;
            border-radius: 3px;
            
            & > i {
                font-size: 16px;
                margin: 0;
            }
        }
    }

    .read {
        padding: 10vw;

        .info {
            width: 100%;
            margin: 0;

            p {
                font-size: 14px;
            }
        }

        .book-reader {
            display: none;
        }
    }
}