:host {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 42px 70px 10px;
}

img {
    height: 42px;
}

form {
    width: 50%;
    margin-left: 42px;
    display: flex;
    justify-content: center;
    align-items: center;

    input {
        width: 100%;
    }

    i {
        display: none;
    }
}

div i {
    display: inline-block;
    color: #4F4F4F;
    font-size: 24px;
    margin-left: 24px;

    &:hover {
        transform: scale(1.2);
    }
}

.mobile {
    display: none !important;
}

@media screen and (max-width: 700px){
    :host {
        padding: 18px 30px;
    }

    form {
        min-height: 43px;
        min-width: 52px;
        width: auto;
        order: -1;
        margin-left: 0;
        background: #626262;
        mix-blend-mode: overlay;
        border-radius: 21px;

        i {
            display: inline-block;
            font-size: 16px;
            margin: 0 18px;
        }

        i, input {
            color: #FFF;
        }

        input {
            width: 0px;
            padding: 0;
            background: transparent;
            transition: all ease-in-out 200ms;

            &::placeholder {
                color: #EEE;
            }

            &.active {
                width: 200px;
            }
        }
    }

    .logo {
        width: 0;
        max-height: 30px;
        transition: all ease-in-out 200ms;

        &.active {
            width: 90px;
        }
    }
}

@media screen and (max-width: 1000px){
    .mobile {
        display: inline-block !important;
    }

    .desktop {
        display: none !important;
    }
}

@media screen and (min-width: 1400px){
    :host {
        max-width: 1000px;
        margin: 0 auto;
    }
}