@import "~src/variables.scss";

:host {
    display: block;
    overflow-y: scroll;
    scroll-behavior: smooth;
    height: 100%;
}

.emptystate {
    width: 40%;
    color: #888;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: center;

    img {
        max-width: 100px;
    }

    h1 {
        margin: 16px 0px 8px;
        font-size: 16px;
    }

    p {
        margin: 0;
        font-size: 14px;
        color: #666;
    }
}


.video-player {
    background: linear-gradient(to bottom right, #BB2A49, #CC7E00);
    border-radius: 5px;
    width: 55vw;
    height: 30.9375vw;
    flex-shrink: 0;
    box-shadow: 1px 1px 9px rgba(0, 0, 0, 0.5);
}

.mobile {
    display: none;
}

.name {
    margin: 0;
    color: #FFF;
    font-size: 38px;
    line-height: 1.1;
}

.module {
    margin: 0;
    color: #535252;
    font-size: 16px;
    font-weight: 300;
}

.actions button {
    background: #333333;
    border-radius: 12px;
    padding: 7px;
    margin-right: 12px;

    i {
        color: #646464;
        margin: 0;
    }

    &:disabled {
        opacity: .4;
    }
}

.book,
.lesson {
    flex-grow: 1;
    background-color: #202020;
    padding: 70px;

    .wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1500px;
        margin: 0 auto;
    }

    .info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        margin: 28px 0;
        margin-right: 36px;
        max-width: 40%;

        .data {
            margin: 42px 0;
        }

        .name {
            margin-bottom: 10px;
        }

        img {
            height: 50px;
        }

        .actions {
            margin-top: 12px;

            button {
                margin-right: 8px;
            }
        }

        .about-track {
            display: flex;
            align-items: center;
            margin-bottom: 30px;

            hr {
                background: #3E3C3C;
                margin: 0 24px;
                height: 18px;
                width: 1px;
                border: 0;
            }
        }
    }
}

.read,
.course {
    max-width: 1500px;
    margin: 0 auto;

    section {
        display: flex;
    }

    .info {
        width: 50%;
        padding: 70px 45px 0 70px;
        box-sizing: border-box;

        #about {
            text-transform: uppercase;
            color: $primary-color;
            font-weight: 300;
            font-size: 16px;
        }

        .module {
            text-transform: uppercase;
            font-size: 14px;
        }

        .description {
            color: #CCCCCC;
            font-weight: 200;
            line-height: 1.3;
        }

        .actions {
            margin-top: 24px;
        }
    }

    .banner {
        flex-grow: 1;
        height: auto;
        border-radius: 0 0 0 42px;
        background-position: center;
        background-size: cover;
        position: relative;

        &::before{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(to top right, #111, transparent);
            border-radius: 0 0 0 42px;  
            z-index: 5;
        }
    }

    .content {
        width: 100%;
        padding: 24px 70px;
        box-sizing: border-box;
    }

    .modules {
        width: 40%;
        margin-top: 16px;

        li {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 16px 18px;
            border-bottom: 1px solid #373737;
            cursor: pointer;
            transition: all ease 400ms;
            border-left: 5px solid transparent;

            &.active {
                border-left-color: #c76218;

                p {
                    font-weight: 700;
                }
            }

            p {
                color: #FFF;
                font-size: 16px;
                font-weight: 500;
                line-height: 1;
                margin: 0;
            }
            
            span {
                font-size: 14px;
                font-weight: 300;
                line-height: 1;
                color: #C76615;
            }

            .amount {
                background: #333333;
                border-radius: 6px;
                padding: 3px 8px;
                padding-right: 2px;
                margin-right: 18px;

                * {
                    color: #5E5D5C;
                    margin-right: 6px;
                    font-size: 14px;
                }
            }

            &:last-child {
                border: 0;
            }
        }
    }

    .lessons {
        width: 60%;
        background: #2F2F2F;
        border-radius: 18px;
        height: 450px;
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        position: sticky;
        top: 42px;

        li {
            padding: 16px;
            background: #353535;
            display: flex;
            align-items: center;
            cursor: pointer;

            &:nth-child(2n) {
                background: transparent;
            }

            .information {
                flex-grow: 1;
                line-height: 1;
                margin-left: 12px;

                p {
                    font-size: 16px;
                    font-weight: 200;
                    color: #E1DFDE;
                    margin: 0;
                }

                span {
                    color: $primary-color;
                    font-size: 14px;
                }
            }

            .actions button {
                background: #4A4A4A;
            }
        }

        .completion {
            background: $primary-color;
            border-radius: 50%;
            width: 26px;
            height: 26px;
            margin: 0 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #FFF;

            &.hide {
                border: 1px solid #595959;
                background: transparent;

                * {
                    display: none;
                }
            }
        }
    }
}

@media screen and (max-width: 1024px){
    :host {
        height: 100%;
    }

    atz-header.mobile {
        display: flex;
    }
    
    .video-player {
        width: 104%;
        height: 58%;
        margin-left: -2%;
    }

    .mobile {
        display: initial;
    }

    .desktop { 
        display: none;
    }

    .module {
        font-size: 1.8vw;
    }

    .name {
        font-size: 4vw;
    }

    .lesson {
        padding: 16px 7vw 50px;
        flex-grow: unset;

        .logo {
            display: none;
        }

        .info {
            margin: 0;
            max-width: unset;
            width: 100%;

            .data {
                margin: 0 0 28px;
            }
        }

        .track {
            display: flex;
            align-self: center;
            background: #2D2C2C;
            border-radius: 3px;
            padding: 0 16px;
            z-index: 10;
            margin-top: -6px;
            margin-left: -60px;

            .about-track {
                margin: 0;

                hr {
                    margin: 0 16px;
                }
            }

            .track-actions {
                display: flex;

                span {
                    display: none;
                }

                i {
                    margin: 0;
                }

                .secondary {
                    padding: 4px 18px 4px 30px;
                }

                .btn {
                    order: 100;
                    padding: 17px;
                    border-radius: 50%;
                    position: relative;
                    margin-right: -60px;

                    i {
                        font-size: 18px;
                    }
                }
            }
        }
    }

    .course {
        section {
            flex-direction: column;
        }

        .banner {
            width: 90vw;
            height: 50vw;
            max-height: 370px;
            margin-left: 10vw;
            order: -1;
        }

        .info {
            width: 100%;
            padding: 10vw;
            
            #about {
                font-size: 12px;
            }

            .name {
                margin-top: 3px;
            }

            .module {
                font-size: 11px;
                margin-top: 6px;
            }

            .description {
                font-size: 13px;
                margin: 16px 0;
            }
        }

        .content {
            padding: 0;
            padding-left: 8vw;
            padding-bottom: 20px;
        }

        .modules {
            width: 100%;
            margin: 0;

            li {
                padding: 16px;

                & > div:not(.amount) {
                    margin-right: 10px;
                    display: flex;
                    flex-direction: column;
                }

                p {
                    font-size: 15px;
                    line-height: 1.2;
                }

                span {
                    font-size: 11px;
                    margin-top: 4px;
                }

                .amount {
                    font-size: 11px;
                }
            }
        }

        .lessons {
            width: 90%;
            border-radius: 12px;
            position: initial;
            margin-top: 0;

            li {
                flex-wrap: wrap;
                padding: 16px 20px;

                .information {
                    p {
                        font-size: 15px;
                        line-height: 1.2;
                    }

                    span {
                        font-size: 12px;
                    }
                }
            }

            .completion {
                margin-left: 0;
                margin-bottom: 12px;
            }

            .information {
                margin-bottom: 12px;
                width: calc(100% - 50px);
            }
        }

        nav {
            margin: 0 10vw 5vw;
            display: inline-block;
        }
    }

    .mobile-hidden {
        display: none !important;
    }
}

@media screen and (max-width: 630px) {
    .module {
        font-size: 12px;
    }
    
    .name {
        font-size: 26px;
    }
}

@media screen and (min-width: 470px){
    .lesson .track {
        padding: 4px 16px;
    }
}