@import "~src/variables.scss";

$bgcolor1: transparentize($primary_color, 0.5);
$bgcolor2: transparentize($primary_color, 0.1);

:host {
    display: flex;
}

main {
    background: url("../../../assets/images/login_background.png"), linear-gradient(to bottom, $bgcolor1, $bgcolor2);
    background-blend-mode: soft-light;
    background-size: cover;
    background-repeat: no-repeat;
    width: 55%;
    height: 100vh;
    display: flex;
    align-items: flex-end;

    section {
        width: 60%;
        margin-bottom: 80px;
        margin-left: 80px;
    } 

    h1 {
        color: white;
        margin: 0 0 12px;
        font-weight: 200;
        font-size: 52px;
        line-height: 1.15;
    }

    p {
        color: transparentize(black, 0.3);
        margin: 0;
    }
}

aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    min-width: 380px;

    .logo {
        height: 50px;
        border-radius: 9px;
        margin-bottom: 52px;
    }

    form {
        display: flex;
        flex-direction: column;
        max-width: 300px;
        width: 100%;

        * {
            margin-bottom: 16px;
            width: 100%;
        }
    }

    hr {
        width: 215px;
        border: 0;
        height: 1px;
        background: $divisor;
        margin: 18px;
    }

    p {
        color: $default_text;
        font-size: 14px;
        font-weight: 300;
    }
}

@media screen and (max-width: 960px){
    main h1 {
        font-size: 2em;
    }
}



@media screen and (max-width: 768px){
    :host {
        flex-direction: column;
        height: 100vh;
    }

    main {
        width: 100%;
        height: auto;
        flex-grow: 1;

        section {
            width: 100%;
            max-width: 310px;
            margin: 0 10% 40px;
        }

        h1 {
            font-size: 50px;
        }

        p {
            font-size: 12px;
        }
    }

    .logo {
        display: none;
    }

    aside {
        flex-grow: unset;
        padding: 52px 40px;
        border-bottom: $primary_color solid 5px;
        min-width: unset;

        .mobile-small {
            font-size: 12px;
            margin: 0 !important;
        }

        hr {
            margin: 14px;
        }
    }    
}

@media screen and (max-width: 640px){
    main h1 {
        font-size: 8vw;
    }
}

@media screen and (max-width: 360px){
    main h1 {
        font-size: 28px;
    }
}
