@import "~src/variables.scss";

* {
    font-family: $font;
}

body {
    background: #262626;
    margin: 0;
}

input {
    font-size: 14px;
    background: #222222;
    color: #575757;
    border: 0;
    border-radius: 21px;
    padding: 12px 20px;
    font-size: 14px;
    box-sizing: border-box;

    &::placeholder {
        color: #3E3E3E
    }
}

.btn,
button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: $primary-color;
    color: transparentize(black, 0.4);
    font-size: 14px;
    padding: 12px 24px;
    border-radius: 21px;
    white-space: nowrap;
    box-sizing: border-box;
    border: 0;
    cursor: pointer;

    &.secondary {
        background: none;
        color: $primary-color;
        padding: 4px 24px;
    }

    i {
        font-size: 18px;
        margin-right: 12px;
    }
}

a {
    color: $primary-color;
    text-decoration: none;

    &:visited {
        color: $primary-color;
    }
}

input,
button,
.btn,
.scale {
    transition: all 150ms ease;

    &:hover,
    &:focus {
        transform: scale(1.03);
    }
}

.title {
    font-size: 20px;
    font-weight: 300;
    color: #484747;
    text-transform: uppercase;
    margin: 0;
}