@import "~src/variables.scss";

* {
    font-family: $font;
    outline: none;
}

body {
    background: #262626;
    margin: 0;
}

input {
    font-size: 14px;
    background: #222222;
    color: #575757;
    border: 0;
    border-radius: 21px;
    padding: 12px 20px;
    font-size: 14px;
    box-sizing: border-box;

    &::placeholder {
        color: #3E3E3E
    }
}

.btn,
button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: $primary-color;
    color: transparentize(black, 0.4);
    font-size: 14px;
    padding: 12px 36px;
    border-radius: 21px;
    white-space: nowrap;
    box-sizing: border-box;
    border: 0;
    cursor: pointer;

    &.secondary {
        background: none;
        color: $primary-color;
        padding: 16px 24px;
    }

    i {
        font-size: 18px;
    }

    &.unique {
        padding: 12px 18px;
    }

    i:not(.unique) {
        margin-right: 12px;
    }
}

a {
    color: $primary-color;
    text-decoration: none;

    &:visited:not(.btn) {
        color: $primary-color;
    }
}

input,
button,
.btn,
.scale {
    transition: all 150ms ease;

    &:hover:not(.plyr input),
    &:focus:not(.plyr input) {
        transform: scale(1.03);
    }

    &:focus {
        outline: none;
    }
}

.title {
    font-size: 20px;
    font-weight: 300;
    color: #484747;
    text-transform: uppercase;
    margin: 0;
}

.header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.badge {
    display: inline-block;
    font-size: 12px;
    color: #2A2A2A;
    background: #FFF;
    padding: 3px 8px;
    border-radius: 4px;
    cursor: default;

    &:not(:last-child):not(.spaceless) {
        margin-right: 8px;
    }

    &.dark {
        background: #4A4A4A;
        color:#888888;
    }

    &.primary {
        background: $primary-color;
        color: transparentize($color: #000000, $amount: 0.3);
    }
}

.detail {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    label {
        font-size: 10px;
        color: $primary-color;
        text-transform: uppercase;
        font-weight: 700;
    }

    p {
        margin: 0;
        font-size: 20px;
        color: #D0D0CF;
        font-weight: 200;
    }
}

ul {
    padding: 0;
    list-style: none;
}

.plyr--video,
.plyr__video-wrapper {
    border-radius: 5px;
}

.tabs {
    margin: 0;
    margin-left: -8px;

    li {
        cursor: pointer;
        display: inline-block;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 12px;
        color: #777;
        padding: 12px 16px;

        &.active {
            color: #CCC;
            font-weight: 600;
            border-bottom: 3px solid $primary-color;
        }

        &.blocked {
            color: #444;
            cursor: not-allowed;
        }
    }
}

@media screen and (max-width: 470px){
    .detail {
        label {
            font-size: 8px;
        }

        p {
            font-size: 17px;
        }
    }
}