@import "~src/variables.scss";

:host {
    display: flex;
    margin-top: 20px;
    align-items: center;
}

.lesson {
    margin-left: 42px;

    .module {
        color: #AEAEAE;
        font-size: 14px;
        font-weight: 300;
        margin: 0;
    }

    .name {
        font-size: 32px;
        font-weight: 700;
        color: #FFF;
        margin: 0;
    }

    .badges {
        margin-top: 10px;
    }

    .actions {
        margin-top: 24px;

        button {
            margin-right: 10px;
        }
    }
}

atz-lesson-card {
    cursor: pointer;
}


@media screen and (max-width: 620px){
    :host {
        flex-direction: column;
        align-items: flex-start;
    }

    .lesson {
        margin: 7vw 0 0;

        .name {
            font-size: 7vw;
        }

        .actions {
            text-align: center;

            button {
                margin-bottom: 3vw;
            }
        }
    }

    atz-lesson-card {
        width: 100% !important;
    }
}