@import "~src/variables.scss";

:host {
    display: flex;
    margin-top: 20px;
    align-items: center;
}

.lesson {
    margin-left: 42px;

    .module {
        color: #AEAEAE;
        font-size: 14px;
        font-weight: 300;
        margin: 0;
    }

    .name {
        font-size: 32px;
        font-weight: 700;
        color: #FFF;
        margin: 0;
    }

    .badges {
        margin-top: 10px;
    }

    .actions {
        margin-top: 24px;

        button {
            margin-right: 10px;
        }
    }
}