<atz-lesson-card [width]="50" [image]="content?.banner">
    <p class="lessons">{{ content?.maxLessons }} aulas</p>
    <p class="name">{{ content?.course }}</p>
</atz-lesson-card>

<div class="lesson">
    <p class="module">{{ content?.module }}</p>
    <h1 class="name">{{ content?.name }}</h1>
    <div class="badges">
        <span class="badge">Aula {{ content?.position | padstart : 3 }}</span>
        <span class="badge dark">{{ content?.duration | timeduration }} min</span>
    </div>
    <div class="actions">
        <button><i class="cil-media-play"></i> Assistir Agora</button>
        <button class="secondary">Fazer Download</button>
    </div>
</div>