<section class="profile">
    <div class="close-btn"><i class="cil-x-circle"></i></div>

    <div id="user-info">
        <h1>@{{ content?.username || auth.authUser.unique_name }}</h1>
        <p>Membro desde {{ content?.registeredAt | date:'LLLL \'de\' yyyy' }}</p>
    </div>

    <div id="progress" *ngIf="content?.statistics">
        <span>
            <span>{{ content?.statistics.lessons }}</span>
            <p>aulas acessadas</p>
        </span>

        <hr/>

        <span>
            <span>{{ content?.statistics.books }}</span>
            <p>livros lidos</p>
        </span>

        <hr/>

        <span>
            <span>{{ content?.statistics.courses }}</span>
            <p>Cursos em Andamento</p>
        </span>
    </div>

    <div id="interests">
        <h2 class="subtitle">Tópicos de Interesse</h2>
        <ul>
            <li *ngFor="let i of content?.interests">{{ i }}</li>
        </ul>
    </div>

    <div id="goals">
        <h2 class="subtitle">Metas & Objetivos</h2>
        <ul>
            <li>
                <div class="check" [ngClass]="{ 'active': content?.goals[0] }"></div>
                <div [ngClass]="{ 'completed': content?.goals[0] }">
                    <p>Matrícule-se e assista uma aula</p>
                    <p *ngIf="content?.goals[0]">Concluído!</p>
                </div>
            </li>
            <li>
                <div class="check" [ngClass]="{ 'active': content?.goals[1] }"></div>
                <div [ngClass]="{ 'completed': content?.goals[1] }">
                    <p>Leia seu primeiro livro</p>
                    <p *ngIf="content?.goals[1]">Concluído!</p>
                </div>
            </li>
            <li>
                <div class="check" [ngClass]="{ 'active': content?.goals[2] }"></div>
                <div [ngClass]="{ 'completed': content?.goals[2] }">
                    <p>Assista 30 aulas de qualquer curso</p>
                    <p *ngIf="content?.goals[2]">Concluído!</p>
                </div>
            </li>
            <li>
                <div class="check" [ngClass]="{ 'active': content?.goals[3] }"></div>
                <div [ngClass]="{ 'completed': content?.goals[3] }">
                    <p>Marque 10 livros como lidos</p>
                    <p *ngIf="content?.goals[3]">Concluído!</p>
                </div>
            </li>
            <li>
                <div class="check" [ngClass]="{ 'active': content?.goals[4] }"></div>
                <div [ngClass]="{ 'completed': content?.goals[4] }">
                    <p>Assista 500 aulas de qualquer curso</p>
                    <p *ngIf="content?.goals[4]">Concluído!</p>
                </div>
            </li>
        </ul>
    </div>

    <div id="reset">
        <button (click)="auth.signout()">Fazer Logout</button>
        <button class="secondary">Limpar Progresso</button>
    </div>
</section>

<article class="initial" (scroll)="scrollHandler($event)">
    <atz-header></atz-header>
    
    <main #wrapper>
        <section *ngIf="!activeSection">
            <h1 class="title">Continue Assistindo</h1>
            <atz-watching [latest]="content?.latest"></atz-watching>
        </section>

        <section *ngIf="!activeSection">
            <h1 class="title">Cursos Recentes</h1>
            <ul class="card-list three-itens">
                <li *ngFor="let i of content?.recentCourses">
                    <atz-course-card [course]="i"></atz-course-card>
                </li>
            </ul>
        </section>

        <section *ngIf="!activeSection">
            <h1 class="title">Lidos Recentemente</h1>
            <ul class="swiper-container">
                <div class="swiper-wrapper" watchElement (DOMChange)="sliderChangeDetection($event)">
                    <li *ngFor="let i of content?.recentBooks" class="swiper-slide">
                        <atz-book-card [book]="i"></atz-book-card>
                    </li>
                </div>
            </ul>
        </section>

        <section *ngIf="!activeSection || activeSection === 'favCourses'">
            <div class="header-row">
                <h1 class="title">Cursos Favoritos</h1>
                <button class="secondary" (click)="toggleActive('favCourses')">
                    <i class="cil-list"></i>
                    <span>{{ activeSection === 'favCourses' ? 'Minimizar' : 'Expandir' }}</span>
                </button>
            </div>
            <ul class="card-list three-itens">
                <li *ngFor="let i of content?.favCourses">
                    <atz-course-card [course]="i"></atz-course-card>
                </li>
            </ul>
        </section>

        <section *ngIf="!activeSection || activeSection === 'watchLater'">
            <div class="header-row">
                <h1 class="title">Assistir Mais Tarde</h1>
                <button class="secondary" (click)="toggleActive('watchLater')">
                    <i class="cil-list"></i>
                    <span>{{ activeSection === 'watchLater' ? 'Minimizar' : 'Expandir' }}</span>
                </button>
            </div>
            <ul class="card-list three-itens">
                <li *ngFor="let i of content?.watchLater" (click)="navigate(i.id)">
                    <atz-lesson-card [image]="i.banner">
                        <span class="badge spaceless">{{ i.duration | timeduration }} m</span>
                        <p class="name small">{{ i.name }}</p>
                    </atz-lesson-card>
                </li>
            </ul>
        </section>

        <section *ngIf="!activeSection">
            <h1 class="title">Mais Lidos</h1>
            <ul class="swiper-container">
                <div class="swiper-wrapper" watchElement (DOMChange)="sliderChangeDetection($event)">
                    <li *ngFor="let i of content?.favBooks" class="swiper-slide">
                        <atz-book-card [book]="i"></atz-book-card>
                    </li>
                </div>
            </ul>
        </section>
    </main>
</article>