<section>
    <div id="user-info">
        <h1>@douglasm</h1>
        <p>Membro desde Julho de 2020</p>
    </div>

    <div id="progress">
        <span>
            <span>12</span>
            <p>aulas acessadas</p>
        </span>

        <hr/>

        <span>
            <span>10</span>
            <p>livros lidos</p>
        </span>

        <hr/>

        <span>
            <span>03</span>
            <p>Cursos em Andamento</p>
        </span>
    </div>

    <div id="interests">
        <h2 class="subtitle">Tópicos de Interesse</h2>
        <ul>
            <li>Java</li>
            <li>GraphQL</li>
            <li>Python</li>
            <li>SQL</li>
            <li>React</li>
            <li>.NET Framework</li>
            <li>Arduíno</li>
        </ul>
    </div>

    <div id="goals">
        <h2 class="subtitle">Metas & Objetivos</h2>
        <ul>
            <li>
                <div class="check active"></div>
                <div class="completed">
                    <p>Matrícule-se e assista uma aula</p>
                    <p>Concluído!</p>
                </div>
            </li>
            <li>
                <div class="check"></div>
                <div>
                    <p>Matrícule-se e assista uma aula</p>
                </div>
            </li>
        </ul>
    </div>

    <div id="reset">
        <button>Fazer Logout</button>
        <button class="secondary">Limpar Progresso</button>
    </div>
</section>

<article>
    <atz-header></atz-header>

    <main>
        <h1 class="title">Continue Assistindo</h1>
        <atz-watching></atz-watching>
    </main>
</article>